@font-face {
    font-family: industry-bold;
    src: url(src/industry/Industry-Demi.ttf);
}

@font-face {
    font-family: industry;
    src: url(src/industry/Industry-Book.ttf);
}

body {
    display: block;
    background-color: #0b0b0b;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0;
}

/***********************
    Header Components
************************/
body {}

header {
    position: sticky;
    top: 0;
    height: 70px;
    margin: auto;
    background-color: #171717;
    border-bottom: 1PX solid #00ff4c55;
    box-shadow: 0px 5px 150px 15px #15ff0010;
}

.headerContainer {
    display: flex;
    max-width: 1250px;
    margin: auto;
    margin-bottom: 105px;
    padding: 0 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-family: industry;
}

.logo {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    display: none;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-items {
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    border-radius: 7px;
    transition: 0.7s;
}

.menu-items:hover {
    color: #00ff40;
    background: #292929;
}

.contactContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    gap: 10px;
}

.social {
    fill: #ccc;
    transition: fill 0.5s;
}

.social:hover {
    fill: #00ff40;
}

.button-contact {
    margin-left: 10px;
    font-family: industry-bold;
    font-size: 17px;
    padding: 5px 10px 7px 10px;
    border-radius: 7px;
    color: #000;
    text-decoration: none;
    background-color: #cccccccc;
    transition: 0.5s;
}

.button-contact:hover {
    font-family: industry;
    color: #00ff40;
    background-color: transparent;
}

#mobileMenu {
    display: none;
    transition: 1s;
}
#mobileMenuContainer{
    display: none;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
#closeMenu{
    display: none;
    position: fixed;
    top: 25px;
    right: 20px;
    color: #00ff40;
    font-size: 40px;
}
@media (max-width:700px) {
    header {
        height: 0;
    }

    .headerContainer {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        background-color: #171717;
        border-bottom: 1PX solid #00ff4c55;
        box-shadow: 0px 5px 150px 15px #15ff0010;
    }

    .logo {
        width: 50px;
        padding: 20px 20px 20px 0;
    }

    #mobileMenu {
        display: block;
        position: fixed;
        top: 25px;
        right: 20px;
        color: #00ff40;
        font-size: 40px
    }
    .menu-container{
        display: none;
    }
    .menu-items{
        font-size: 24px;
        padding-bottom: 30px;
    }
    .contactContainer{
        display: none;
    }

}

@media (max-width: 450px) {
    .logo {
        width: 40px;
        padding: 15px 10px 15px 0;
    }
    #mobileMenu{
        font-size: 35px;
        top: 18px;
        right: 15px;
    }
    #closeMenu{    
        font-size: 35px;
        top: 18px;
        right: 15px;
    }
}