@font-face {
    font-family: jetbrain;
    src: url(src/JetBrainsMono-Bold.ttf);
}
.home{
    display: flex;
    justify-content: space-between;
    max-width: 1276px;
    margin: auto;
    padding-top: 30px;
    
}

.terminal{
    width: 840px;
    height: 500px;
    margin-right: 25px;
    
    
}
.column-home{
    display: flex;
    flex-direction: column;
}
.about{
    
    width: 350px;
    height: 500px;
    margin-right: 25px;
    margin-bottom: 30px;
    border-radius: 9px;
    border: 1px solid #21262d;
}
.photo{
    width: 100px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #21262d;
}


h1{
    font-size: 95px;
    font-family: industry-bold;
    color: #ccc;
    margin: 0;
    margin-left: 20px;
}
.hello{
    display: flex;
    align-items: start;
}
.earth{
    width: 95px;
    margin-top: 9px;
}
h2{
    font-size: 70px;
    font-family: industry;
    color: #00ff62;
    margin: 0;
    margin-left: 27px;
}
#name{
    font-size: 95px;

}
