@font-face {
    font-family: jetbrain;
    src: url(src/JetBrainsMono-Bold.ttf);
}
.home{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: auto;
    padding-top: 30px;
    font-family: industry-bold;
    
}
.terminal{
    
    width: 840px;
    height: 500px;
    margin-right: 25px; 
}
h1{
    font-size: 95px;
    color: #ccc;
    margin: 0;
   
    
    
}
.hello{
    display: flex;
    align-items: start;
}
.earth{
    width: 95px;
    margin-top: 9px;
}

h2{
    font-size: 70px;
    font-family: industry;
    margin: 0;
    margin-left: 7px;
    
    background-image: linear-gradient(45deg , #00ff62 20%, #00ffb3, turquoise);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: #00ff62;
}
#name{
    font-size: 95px;
    
}

.column-home{
    display: flex;
    flex-direction: column;
    height: 425px;
    margin-top: 30px;

    padding: 20px;
    border: 4px solid ; 
    border-image: linear-gradient( #00ff62 , #00ff8d,transparent) 1;
}
.about{
    display: flex;
    margin-bottom: 10px;
    
    /* border-left: 5px  solid #00ff62; */
    
    color: #ccc;
    font-family: industry;
    font-size: 15px;
}
.photo{
    width: 100px;
   
    border-radius: 10px;
}
.info-container{
   margin-left: 10px;
   margin-right: 20px;
}
.info-items{
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
}
.icon-about{
    fill: #ccc;
    width: 20px;
    margin-right: 10px;
}

#age{
    list-style-image: url(src/star.svg);
}
p{
    margin: 0;
    color: #ccc
}
.resume{
    width: 300px;
    margin-bottom: 20px;
    font-family: industry;
    font-size: 15px;
}
.exp>p{
    margin-bottom: 5px;
    color: #00ff75;
}
.exp-container{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: industry;
}
.exp-img{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.exp-container> p{
    margin-left: 10px;
    font-size: 14px;
}
