@font-face {
    font-family: jetbrain;
    src: url(src/JetBrainsMono-Bold.ttf);
}
.home{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 30px;
    
}
.terminal{
    width: 840px;
    height: 500px;
    margin-right: 25px;
    
    
}
h1{
    font-size: 95px;
    font-family: industry-bold;
    color: #ccc;
    margin: 0;
    margin-left: 20px;
    
}
.hello{
    display: flex;
    align-items: start;
}
.earth{
    width: 95px;
    margin-top: 9px;
}

h2{
    font-size: 70px;
    font-family: industry;
    margin: 0;
    margin-left: 27px;
    
    background-image: linear-gradient(45deg , #00ff62 20%, #00ffb3, turquoise);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: #00ff62;
}
#name{
    font-size: 95px;
    
}

.column-home{
    display: flex;
    flex-direction: column;
}
.about{
    margin-top: 30px;
    width: 350px;
    height: 425px;
    margin-right: 25px;
    margin-bottom: 30px;
    /* border-left: 5px  solid #00ff62; */
    border-left: 5px solid;
    border-image: linear-gradient( #00ff62 , #00ff8d,transparent) 1;
}
.photo{
    width: 100px;
    margin: 0 0 0 20px;
    border-radius: 10px;
}