.projectContainer{
    max-width: 1250px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.squareContainer{
    flex: 1 1 300px;
    margin: 10px;
    height: 300px;
    background-color: #cccccc20;
    border: 1px solid #cccccc20;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px #15151510;
    text-align: center;
}
.projectContainer > h2{
    margin-bottom: 20px;
    font-size: 28px;
}

.thumb{
    margin: 15px;
    height: 200px;
    
    border: 1px solid #cccccc20;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px #15151510;
    background-size: cover;
    animation: blinkSoon 1s infinite;
}

#thumb1{
    background-image: url(src/thumb1.jpg);
}

.titleProject{
    margin: 15px;
    font-family: industry;
    color: #ccc;
}

.soon{
  
    animation: blinkSoon 0.5s infinite;
}

@keyframes blinkSoon {
    0%{
        background-color: #151515;
    }
    50%{
        background-color: #151515bb; 
    }
    100%{
        background-color: #151515;
    }
}

@media (max-width: 800px){
    .projects{
        margin-left: 20px;
        margin-right: 20px;
    }
    .projectContainer > h2{
        margin-left: 20px;   
    } 
    
}

@media (max-width: 1300px){
    .projects{
        margin-left: 20px;
        margin-right: 20px;
    }
    .projectContainer > h2{
        margin-left: 20px;   
    } 
    
}

