.projectContainer{
    max-width: 1250px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.squareContainer{
    flex: 1 1 300px;
    margin: 10px;
    height: 300px;
    background-color: #cccccc20;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px #15151510;
}
.projectContainer > h2{
    margin-bottom: 20px;
    font-size: 28px;
}


@media (max-width: 800px){
    .projects{
        margin-left: 20px;
        margin-right: 20px;
    }
    .projectContainer > h2{
        margin-left: 20px;   
    } 
    
}