
@font-face {
    font-family: industry-medium;
    src: url(src/industry/Industry-Medium.ttf);
}
.containerGrey{
    background-color: #151515;
    border-top: 1px solid #00ff4c55;
    padding-top: 20px;
}
.skillContainer{
    max-width: 1250px;
    margin: auto;
    padding: 0 20px 0 20px;
}
.skills::-webkit-scrollbar {
    width: 0;
}
.skillContainer > h2{
    margin-bottom: 20px;
    font-size: 28px;
}
.skills{
    display: flex;
    height: 20vh;
    flex:1;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

}
.skillSquare{
    
    
    text-align: center;
    margin-top: 50px;
    padding: 13px;
    width: 70px;
    height: 70px;
    background-color: #cccccc20;
    border: 1px solid #cccccc20;
    border-radius: 7px;
    transition: 0.3s;
    box-shadow: 5px 5px 5px 5px #15151510;
}

.iconSkill{
    width: 70px;
    height: 70px;
}

.nameSkill{
    text-align: center;
    font-family: industry-medium;
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
    opacity: 0;
    transition: 0.3s;
}    

.skillSquare:hover{
    height: 100px;
    background-color: #444;
}

.skillSquare:hover .nameSkill{
    opacity: 1;  
}
        


@media (max-width: 800px){
    .skills{
        justify-content: start;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
    .skillContainer > h2{
        margin-left: 20px;   
    } 
    
}

@media (max-width:1000px) {
    .skills{
        height: 100%;
    }
    .skillSquare{
        height: 100px;
        background-color: #444;
    }
    .nameSkill{
        opacity: 1;  
    }  
}